@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EEEEEE;
    font-family: 'Hepta Slab', Helvetica, Arial;
}

h1, h2, h3, p {
    text-align: center;
}

h1 {
    font-weight: 600;
    margin: 2rem auto;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-weight: 400;
    font-size: 0.8rem;
}

.container-pizza {
    max-width: 230px;
    padding: 1.5rem;
    margin: 1rem 2rem;
    display: inline-block;
    
}

.container-pizza:hover {
    cursor: pointer;
}

.container-foto-pizza {
    width: 100%;
    max-height: 182px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-pizza {
    /* Usei 104% para esconder as rebarbas das foto */
    width: 104%;
    object-fit: contain;
    
}

.itens-pizza {
    position: relative;
    top: -35px;
}

.itens-pizza *:nth-child(n) {
    margin: 0.5rem auto;
}

.icone-adicionar{
    background-image: url("icons/plus-free-icon-font.svg");
    background-size: 33%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #388BC5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: all linear 0.2s;
}


.icone-adicionar-novo{
    background-color: #244C88;
    transition: all linear 0.2s;

}
